@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}
